################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeonerator/Debug
/dungeonerator/dungeonerator.opensdf
/dungeonerator/dungeonerator.VC.db
/dungeonerator/dungeonerator.VC.VC.opendb
/dungeonerator/.vs/dungeonerator/v14/.suo
/dungeonerator/dungeonerator.sdf
