################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeonerator/Debug
/dungeonerator/dungeonerator.VC.db
/dungeonerator/dungeonerator.VC.VC.opendb
